/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

/* Wyśrodkowanie */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 140px;
  opacity: 0;
  animation: fadeIn 2.8s ease-out forwards;
  transform: scaleX(1.5); /* 1.0 = oryginał, 1.5 = 50% szersze */
  transform-origin: center;
}

/* Animacja */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
